@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css);

.mark {
  text-decoration: line-through;
}
.todoForm {
  display: flex;
  justify-content: center;
}

input:focus{
    outline: none;
}

.title {
  font-family: cursive;
  text-align: center;
  color: rgb(82, 73, 73);
}

.todoList ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 6px;
  background-color: snow;
}

.todoList ul li input[type="checkbox"] {
  margin: 6px;
  font-size: 17px;
  width: 20px;
  height: 19px;
}

.todoList ul li button {
  background-color: rgb(219, 72, 46);
  color: white;
  padding: 14px 23px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.todoList__taskDesc {
  width: 70%;
  font-size: 20px;
  padding: 3px 0 0;
}

.maindiv {
  background-color: rgb(240, 236, 236);
  align-items: center;
  padding: 25px;
  margin: 0 20%;
}

html {
  background-image: url("backtodo.jpg");
}

input[type="text"],
select {
  width: 50%;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 3px 15px;
}

input[type="submit"] {
  width: 20%;
  background-color: rgb(14, 4, 4);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

@media (max-width: 799px) {
  input[type="text"] {
    height: 75px;
    font-size: 30px;
  }
  input[type="submit"] {
    height: 75px;
    font-size: 30px;
  }
  .todoList ul li input[type="checkbox"] {
    margin: 6px;
    font-size: 17px;
    width: 19px;
    height: 19px;
  }
  .todoList__taskDesc {
    font-size: 20px;
    padding: 4px 0 0;
  }
}

@media (min-width: 800px) {
  input[type="text"],
  select {
    height: 47px;
    font-size: 18px;
  }
  input[type="submit"] {
    height: 47px;
    font-size: 18px;
  }
}
